{% extends 'base.html' %}

{# --- MODIFICATION : Titre Page --- #}
{% block title %}Accueil - BiblioSmart{% endblock %}

{% block content %}
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      {# --- MODIFICATION : Titre Principal --- #}
      <h1 class="display-5 fw-bold">Bienvenue sur BiblioSmart !</h1>
      <p class="col-md-8 fs-4">Le système de gestion de bibliothèque numérique intelligent. (Version Démo)</p>
      <p>Naviguez via la barre en haut.</p>
      <!-- On ajoutera des liens ou boutons ici plus tard -->
    </div>
  </div>

  <h2>Présentation Rapide</h2>
  <p>Ce projet vise à démontrer les capacités d'un système de gestion de bibliothèque améliorant l'expérience utilisateur et l'efficacité de la gestion.</p>
  <p>Utilisez la barre de navigation pour accéder aux différentes sections.</p>
{% endblock %}